PORT=3000
CLIENT_URL=http://localhost:5173

DB_HOST=eventradar-mysql-bojanakovacic1401-0c2d.b.aivencloud.com
DB_PORT=12345
DB_USER=avnadmin
DB_PASSWORD=your_password_here
DB_NAME=defaultdb
DB_SSL=true

JWT_SECRET=your_secret_here
JWT_EXPIRES_IN=7d

TICKETMASTER_API_KEY=your_api_key_here
TICKETMASTER_BASE_URL=https://app.ticketmaster.com/discovery/v2
TICKETMASTER_DEFAULT_CITY=Belgrade
TICKETMASTER_DEFAULT_COUNTRY_CODE=RS